{% extends "layout.html" %}
{% block content %}


                    <section class="vh-100">
                      <div class="container  h-100">

                        <div class="row d-flex justify-content-center align-items-center h-100">
                          <div class="col-md-8 col-lg-6 col-xl-4">

                            <h3 class="mb-4 pb-2 fw-normal">Check the weather forecast</h3>





                            <div class="card shadow-0 border">
                              <div class="card-body p-4">
                                  <h1>Some error occurred. Please try again.</h1>

                              </div>
                            </div>

                          </div>
                        </div>

                      </div>
                    </section>

{% endblock content %}
